<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <title>Apertis Dashboards - {% block title %}{% endblock %}</title>
    <style>
      main {
        margin-top: 40px;
        margin-bottom: 40px;
      }
      .nonzero {
        font-weight: bold;
      }
      .list-group-item .self-link {
        transition: visibility 1s, opacity 1s;
        visibility: hidden;
        opacity: 0;
      }
      .list-group-item:hover .self-link {
        visibility: initial;
        opacity: 1;
      }
    </style>

    {% block head %}{% endblock %}
  </head>
  <body>
    <main role="main" class="container">
      <div class="float-right">
        <div>
          <a class="text-muted" href="{{ meta.current_pipeline_url or '' }}">{{ meta.timestamp}}</a>
          <a class="text-muted" title="Rebuild the dashboard" href="{{ meta.new_pipeline_url or '' }}">🔄</a>
        </div>

        <div>
          <a href="index.html" title="Packages Dashboard" class="text-muted">Packages 📦</a>
          <span>●</span>
          <a href="storage.html" title="Storage Dashboard" class="text-muted {{'btn-link disabled' if not both_data }}">Storage Usage 💾</a>
        </div>
      </div>

      <h2>{{ self.title() }}</h2>

      <hr />

      <div class="d-flex align-items-baseline justify-content-between">
        {% block summary %}{% endblock %}
      </div>

      <div class="d-flex align-items-baseline justify-content-between">
        {% block buttons %}{% endblock %}
      </div>

      <div class="d-flex align-items-baseline justify-content-between">
        {% block error %}{% endblock %}
      </div>

      {% block content %} {% endblock %}

      <div class="d-flex align-items-baseline justify-content-between">
        {% block legend %}{% endblock %}
      </div>
    </main>
  </body>
</html>
