{% extends "base.html.jinja2" %}

{%- macro badge_class(severity) -%}
  {%- if severity == "error" -%}
     danger
  {%- else -%}
    {{ severity }}
  {%- endif -%}
{%- endmacro -%}

{%- macro branch_link(package, branchname, show_version=False, classes="") -%}
  {%- if "git" in package -%}
    <a class="{{classes}}" href="{{ package.git.web_url }}/-/commits/{{ branchname }}">{{ branchname }}</a>
    {%- if show_version and branchname in package.git.branches and package.git.branches[branchname].version -%}
       /<code>{{ package.git.branches[branchname].version }}</code>
    {%- endif -%}
  {%- else -%}
  <span class="{{classes}}">{{ branchname }}</span>
  {%- endif -%}
{%- endmacro -%}

{%- macro branch(package, branchname) -%}
  <span class="branch">{{ branch_link(package, branchname, show_version=True) }}</span>
{%- endmacro -%}

{%- macro obsproject(package, project, version=None) -%}
  <span class="obsproject">
    <a href="{{ obs[project].web_url }}">{{ project }}</a>/
    {%- if "obs" in package and project in package.obs -%}
      <a href="{{ package.obs[project].web_url }}">
        {{- package.name -}}
        {%- if version -%}
        /<code>{{ version }}</code>
        {%- endif -%}
      </a>
    {%- else -%}
      {{ package.name }}
    {%- endif -%}
  </span>
{%- endmacro -%}

{%- macro obsprojects(package, projects) -%}
  <span class="obsprojects">
    {%- for project in projects -%}
      {{ obsproject(package, project) }}
    {%- endfor -%}
  </span>
{%- endmacro -%}

{%- macro aptsources(package, sources) -%}
  <span class="aptsources">
    {%- for source in sources -%}
      {{ source.component }}/<code>{{ source.version }}</code>
      {%- if not loop.last %}, {% endif -%}
    {%- endfor -%}
  </span>
{%- endmacro -%}

{%- macro pipeline(package, pipeline_web_url) -%}
  {%- if pipeline_web_url -%}
  <span class="pipeline">
    <a href="{{ pipeline_web_url }}">pipeline 🚀</a>
  </span>
  {%- endif -%}
{%- endmacro -%}

{% block title %} Packages 📦{% endblock %}

{% block head %}
  <script src="js/jquery-3.7.1.slim.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script>//<![CDATA[
  $(function(){
    function filtersCompute(){
        // create an object like
        // { "channels": ["apertis/v2021", "apertis/v2022"], "domain": ["licensing"], "severity": ["info"] }
        const f = $("[data-filter]").toArray().map(e => [e.dataset["filter"], new Set()]);
        let filters = Object.fromEntries(f); // initialize empty filters
        // populate selected filters
        $("[data-filter]").serializeArray().forEach(f => filters[f.name].add(f.value));
        // drop filters with all options enabled
        const keys = Object.keys(filters).filter(name => !$(`[data-filter=${name}]:not(:checked)`).length);
        keys.forEach(k => delete filters[k]);
        return filters;
    }
    function filtersApply(){
        const filters = filtersCompute();
        for (const report of $("[data-report]")) {
            let display = true;
            for (const [filtername, enabled] of Object.entries(filters)) {
                const these = report.dataset[filtername].split();
                const intersection = these.filter(value => enabled.has(value));
                display = display && Boolean(intersection.length);
            }
            $(report).toggle(display);
        }
    }
    $('[data-filter]').change(e => {
        filtersApply();
        // highlight the dropdown button when filters are active to give the user a cue that
        // some results are hidden
        const dropdown = $(e.currentTarget).parents("[data-dropdown]");
        const filters_active = Boolean(dropdown.find('[data-filter]:not(:checked)').length);
        dropdown.find("[data-toggle]")
            .toggleClass("btn-secondary", !filters_active)
            .toggleClass("btn-warning", filters_active);
        // reset the visibility of each package before checking if it has visible reports
        $("[data-package]").toggle(true);
        $("[data-package]:not(:has([data-report]:visible))").toggle(false);
    });
  });
  // ]]>
  </script>
{% endblock %}


{% block summary %}
  <ul class="list-inline mr-auto">
    <li class="list-inline-item">
      {{ summary.total_downstream_packages }} packages 📦
    </li>
    <li class="list-inline-item">
      {{ summary.total_updates_count }} updates ♼
    </li>
    <li class="list-inline-item">
      {{ summary.total_licensing_count }} license issues ⚖
    </li>
    <li class="list-inline-item">
      {{ summary.total_packaging_delta }} packaging deltas 🔍
    </li>
    <li class="list-inline-item">
      <a class="text-muted" href="tsv/index.html">🗒️ per-release indices</a>
    </li>
  </ul>

  <div>
    <div class="dropdown d-inline" data-dropdown="filter">
      <button class="btn btn-secondary dropdown-toggle"
              id="dropdown-button-filter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdown-button-filter">
        <form class="container">
          <fieldset class="form-group row">
            <legend class="col-form-label col-sm-2 pt-0 font-weight-bold">Channels</legend>
            <div class="col-sm-10">
              {% for channel in channels.values()|map(attribute='base')|sort(reverse=true)|unique -%}
              <div class="form-check">
                <input class="form-check-input" type=checkbox checked name="channels" value="{{channel}}" data-filter="channels" id="filter-channels-{{channel.replace('/', '-')}}"/>
                <label class="form-check-label" for="filter-channels-{{channel.replace('/', '-')}}">{{channel}}</label>
              </div>
              {% endfor %}
            </div>
          </fieldset>
          <fieldset class="form-group row">
            <legend class="col-form-label col-sm-2 pt-0 font-weight-bold">Domain</legend>
            <div class="col-sm-10">
              {%- set report_domains = [] -%}
              {% for package in packages.values() if package.reports or package.updates %}
                {% for report in package.reports %}
                  {%- if report.domain -%}
                    {{ report_domains.append(report.domain) or "" }}
                  {%- endif -%}
                {% endfor %}
              {% endfor %}
              {% for domain in report_domains|unique %}
              <div class="form-check">
                <input class="form-check-input" type=checkbox checked name="domain" value="{{domain}}" data-filter="domain" id="filter-domain-{{domain}}"/>
                <label class="form-check-label" for="filter-domain-{{domain}}">{{domain}}</label>
              </div>
              {% endfor %}
            </div>
          </fieldset>
          <fieldset class="form-group row">
            <legend class="col-form-label col-sm-2 pt-0 font-weight-bold">Severity</legend>
            <div class="col-sm-10">
              {% for severity in "error", "warning", "info" -%}
              <div class="form-check">
                <input class="form-check-input" type=checkbox checked name="severity" value="{{severity}}" data-filter="severity" id="filter-severity-{{severity}}"/>
                <label class="form-check-label" for="filter-severity-{{severity}}">{{severity}}</label>
              </div>
              {% endfor %}
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block buttons %}
  {% if meta.new_pipeline_url -%}
  <ul class="list-inline mr-auto">
    <a class="btn btn-primary {{'disabled' if not summary.wrong_settings_count }}"
        title="Apply default settings to packages repositories"
        href="{{- meta.new_pipeline_url -}}&amp;var[TRIGGER_GITLAB_RULEZ]=apply&amp;var[INCLUDE_BUILD_DASHBOARD]=no
      ">Run gitlab-rulez</a>
    <a class="btn btn-primary {{'disabled' if not summary.total_updates_count }}"
        title="Trigger pipelines importing updates"
        href="{{- meta.new_pipeline_url -}}&amp;var[TRIGGER_UPDATES]=*&amp;var[INCLUDE_BUILD_DASHBOARD]=no
      {%- if meta.current_job_url -%}
      &amp;var[TRIGGER_FROM_JOB]={{- meta.current_job_url -}}
      {%- endif -%}
      ">Update all</a>
    <a class="btn btn-danger {{'disabled' if not summary.update_errors_count }}"
        title="Trigger pipelines importing security updates"
        href="{{- meta.new_pipeline_url -}}&amp;var[TRIGGER_UPDATES]=*&amp;var[TRIGGER_SECURITY_UPDATES]=1&amp;var[INCLUDE_BUILD_DASHBOARD]=no
      {%- if meta.current_job_url -%}
      &amp;var[TRIGGER_FROM_JOB]={{- meta.current_job_url -}}
      {%- endif -%}
      ">Update security</a>
  </ul>
  {%- endif %}
{% endblock %}

{% block error %}
  <ul class="list-inline mr-auto">
    <strong>🚨 errors: </strong>
    <li class="list-inline-item">
      {{ summary.total_errors_count }} total
    </li>
    <li class="list-inline-item">
      🠆
    </li>
    <li class="list-inline-item">
      {{ summary.apt_errors_count }} apt
    </li>
    <li class="list-inline-item">
      {{ summary.ftbfs_errors_count }} ftbfs
    </li>
    <li class="list-inline-item">
      {{ summary.git_errors_count }} git
    </li>
    <li class="list-inline-item">
      {{ summary.licensing_errors_count }} licensing
    </li>
    <li class="list-inline-item">
      {{ summary.obs_errors_count }} obs
    </li>
    <li class="list-inline-item">
      {{ summary.update_errors_count }} update
    </li>
    <li class="list-inline-item">
      {{ summary.delta_errors_count }} delta
    </li>
  </ul>
{% endblock error %}

{% block content %}
  <div class="list-group">
  {% for package in packages.values() if package.reports or package.updates %}
    <div
      id="pkg-{{package.name}}"
      data-package="{{package.name}}"
      class="package list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <strong>
            {%- if "upstreams" in package %}
            <a href="https://tracker.debian.org/pkg/{{ package.name }}">🍥</a>
            {% endif -%}
            {%- if "git" in package %}
            <a class="text-dark" href="{{ package.git.web_url }}">{{ package.name }}</a>
            {% else %}
            {{ package.name }}
            {% endif -%}
          </strong>
          <a class="self-link" href="#pkg-{{package.name}}">¶</a>
        </h5>
      </div>

      {% for report in package.reports %}
        {%- set report_channels = [] -%}
        {%- if report.domain == "git" and report.kind == "upstream-branch-not-merged" -%}
          {%- for downstream in report.downstreams -%}
            {{- report_channels.append(channels[downstream].base) or "" -}}
          {%- endfor -%}
        {%- elif report.domain == "update" and report.kind == "available" -%}
          {%- for channel in channels.values() if channel.source.distribution+"/"+channel.source.release == sources[report.upstream.source].base -%}
            {{- report_channels.append(channel.base) or "" -}}
          {%- endfor -%}
          {%- for downstream in report.downstreams -%}
            {{- report_channels.append(channels[downstream].base) or "" -}}
          {%- endfor -%}
        {%- elif report.branch in sources -%}
          {%- for channel in channels.values() if channel.source.distribution+"/"+channel.source.release == sources[report.branch].base -%}
            {{- report_channels.append(channel.base) or "" -}}
          {%- endfor -%}
        {%- elif report.branch in channels -%}
          {{- report_channels.append(channels[report.branch].base) or "" -}}
        {%- endif -%}
        <p
           data-report="{{ report.kind }}"
           data-domain="{{ report.domain }}"
           data-severity="{{ report.severity }}"
           data-channels="{{- report_channels|sort|unique|join(" ") -}}"
           class="mb-1 report">
          <big>
            <span class="report-domain badge badge-{{ badge_class(report.domain) }} border border-{{ badge_class(report.domain) }}">
              {{ report.domain }}
            </span>
          </big>
          <big>
            <span class="report-severity badge badge-{{ badge_class(report.severity) }} border border-{{ badge_class(report.severity) }}">
              {{ report.severity }}
            </span>
          </big>
          {% for channel in (report_channels + [report.branch])|select|sort|unique -%}
          <big>
            {{ branch_link(package, channel, classes="report-branch badge badge-light border border-secondary text-muted") }}
          </big>
          {%- endfor %}
          {% for obsproject in (report.get("obsprojects") or [report.get("obsproject")]) if obsproject -%}
          <big>
            <a class="report-obsproject badge badge-light border border-secondary text-muted" href="{{obs[obsproject].web_url}}">{{ obsproject }}</a>
          </big>
          {%- endfor %}

          {% if report.domain == "apt" -%}
            {% if report.kind == "package-missing" -%}
            Not published on APT
            {%- elif report.kind == "package-missing-but-on-obs" -%}
            Not published on APT, found on OBS: {{ obsproject(package, report.obsproject) }}
            {%- elif report.kind == "package-version-mismatch-obs" -%}
            Mismatch between APT {{ report.component }}/<code>{{ report.aptversion}}</code> and OBS {{ obsproject(package, report.obsproject, report.obsversion ) }} ({{ branch(package, report.branch) }})
            {%- elif report.kind == "package-source-version-mismatch-binaries" -%}
            Mismatch between APT source {{ aptsources(package, [report.source]) }} and binary
            {{report.binary.component}}/{{report.binary.name}}/<code>{{report.binary.version}}</code>
            on {{ report.binary.architectures|join(", ") }} ({{ branch(package, report.branch) }})
            {%- elif report.kind == "package-source-missing" -%}
            Sources not published on APT ({{ branch(package, report.branch) }})
            {%- elif report.kind == "package-source-ambiguous" -%}
            Ambiguous sources on APT: {{ aptsources(package, report.sources) }} ({{ branch(package, report.branch) }})
            {%- elif report.kind == "package-binaries-missing" -%}
            Binaries not published on APT ({{ branch(package, report.branch) }})
            {%- elif report.kind == "package-binaries-ambiguous" -%}
            Ambiguous binaries on APT: {{report.components|join(", ")}} ({{ branch(package, report.branch) }})
            {%- elif report.kind == "package-source-missing-package-list" -%}
            The <i>Package-List</i> field is missing in <i>Sources.gz</i> on APT ({{report.source.component}}/{{ branch(package, report.branch) }})
            {%- elif report.kind == "package-missing-but-on-package-list" -%}
            Binary package <i>{{ report.binary }}</i> (<i>{{ report.arch }}/{{ report.version }}</i>) is listed in <i>Sources.gz</i> but not published on APT ({{ branch(package, report.branch) }})
            {%- else -%}
              Unknown report: {{ report }}
            {%- endif -%}
          {%- elif report.domain == "ftbfs" -%}
            {%- if report.kind == "package-build-failed" -%}
            Failed to build on OBS {{ obsproject(package, report.obsproject) }} {{report.repository}}/{{report.architecture}}:
            &lt;<code class="build-result-code">{{report.result.code}}</code>&gt;
              {%- if "details" in report.result -%}
              <span class="build-result-details">{{ report.result.details }}</span>
              {%- endif -%}
            {%- else -%}
              Unknown report: {{ report }}
            {%- endif -%}
          {%- elif report.domain == "git" -%}
            {%- if report.kind == "channel-lagging" -%}
            Branch {{ branch(package, report.branch) }} lags behind {{ branch(package, report.latest_branch) }} →
            <a href="{{ package.git.web_url }}/-/compare/{{ report.branch|replace("/", "%2F") }}...{{ report.latest_branch|replace("/", "%2F") }}">compare 🔍</a>
            {%- elif report.kind == "branch-folded-but-not-removed" -%}
            Branch {{ branch(package, report.branch) }} folded in {{ branch(package, report.folded_in) }} but not removed
            {%- elif report.kind == "branch-has-ambiguous-tags" -%}
            Branch {{ branch(package, report.branch) }} has ambiguous tags: {{report.tags|join(", ")}}
            {%- elif report.kind == "branch-missing-but-on-obs" -%}
            Branch {{ report.branch }} missing but found on OBS: {{ obsproject(package, report.obsproject) }}
            {%- elif report.kind == "branch-not-pointing-to-tagged-commit" -%}
            Branch {{branch(package, report.branch)}} not pointing to a tagged commit
            {%- elif report.kind == "project-missing" -%}
            GitLab project missing but found on OBS: {{ obsprojects(package, report.obsprojects) }}
            {%- elif report.kind == "upstream-branch-not-merged" -%}
            Upstream {{branch(package, report.branch)}} not merged in
            {% for downstream in report.downstreams -%}
              {{branch(package, downstream)}}
              {%- if not loop.last %}, {% endif -%}
            {%- endfor -%}
            {%- elif report.kind == "upstream-branch-dropped" -%}
            Upstream branch {{branch(package, report.branch)}} dropped
            {%- elif report.kind == "branch-pipeline-failed" -%}
            Pipeline failed on {{ branch(package, report.branch) }}: {{ pipeline(package, report.pipeline_web_url) }}
              <a href="{{ package.git.web_url }}/pipelines/new?ref={{ report.branch|urlencode }}">
                retrigger 🔁
              </a>
            {%- elif report.kind == "branch-component-missing" -%}
            Missing component on {{branch(package, report.branch)}}
            {%- elif report.kind == "branch-mismatch-upstream" -%}
            Version in {{ branch(package, report.branch) }} is higher than version <code>{{ report.upstream }}</code> in upstream <code>{{ report.branch }}</code>
            {%- elif report.kind == "wrong-settings" -%}
            GitLab project has wrong settings: <i>{{ report.details }}</i>{% if report.error %} <code>report.error</code>{% endif %}
            {%- elif report.kind == "upstream-branch-untracked" -%}
            Git repository contains an untracked debian branch {{ report.branch_untracked }}
            {%- elif report.kind == "lintian-job-not-enabled" -%}
            Lintian job is not enabled
            {%- else -%}
              Unknown report: {{ report }}
            {%- endif -%}
          {%- elif report.domain == "licensing" -%}
            {%- if report.kind == "report-missing" -%}
            Missing licensing report on {{branch(package, report.branch)}}
            {%- elif report.kind == "override" -%}
            Overriden licensing information found in <i>copyright.yml</i> on {{branch(package, report.branch)}}
            {%- elif report.kind == "global-default" -%}
            Global default license set in <i>copyright.yml</i> on {{branch(package, report.branch)}}
            {%- elif report.kind == "global-default-unfriendly" -%}
            Unfriendly global default license set in <i>copyright.yml</i> on {{branch(package, report.branch)}}
            {%- elif report.kind == "global-default-dual-unfriendly" -%}
            Global default license with unfriendly dual license set in <i>copyright.yml</i> on {{branch(package, report.branch)}}
            {%- elif report.kind == "global-whitelist" -%}
            Licensing globally whitelisted on {{branch(package, report.branch)}}
            {%- else -%}
              Unknown report: {{ report }}
            {%- endif -%}
          {%- elif report.domain == "obs" -%}
            {%- if report.kind == "package-ambiguous" -%}
            Ambiguous package on OBS: {{ obsprojects(package, report.obsprojects) }}
            {%- elif report.kind == "package-missing-but-on-apt" -%}
            Missing on OBS {{ obsproject(package, report.obsproject) }}, found on APT in {{ aptsources(package, [report.source]) }} ({{ branch(package, report.branch) }})
            {%- elif report.kind == "package-missing-but-in-git" -%}
            Missing on OBS {{ obsproject(package, report.obsproject) }}, found on Git {{ branch(package, report.branch) }}
            {%- elif report.kind == "package-version-mismatch" -%}
            Mismatch between OBS {{ obsproject(package, report.obsproject, report.obsversion ) }} and Git {{ branch(package, report.branch) }}
            {%- elif report.kind == "package-build-failed" -%}
            Failed to build on OBS {{ obsproject(package, report.obsproject) }} {{report.repository}}/{{report.architecture}}:
            &lt;<code class="build-result-code">{{report.result.code}}</code>&gt;
              {%- if "details" in report.result -%}
              <span class="build-result-details">{{ report.result.details }}</span>
              {%- endif -%}
            {%- else -%}
              Unknown report: {{ report }}
            {%- endif -%}
          {%- elif report.domain == "update" -%}
            {%- if report.kind == "available" -%}
            Branch {{branch(package, report.branch)}} can be updated
              <a href="{{ package.git.web_url }}/pipelines/new?ref={{ (report.base.name if report.base else report.branch)|urlencode }}">
                to <code>{{report.upstream.version}}</code> from {{report.upstream.source}} {{report.upstream.component}} 🚀
              </a>
            {%- elif report.kind == "available-mainline" -%}
            Branch {{branch(package, report.branch)}} lags behind mainline <a href="{{report.mainline.url}}">{{report.mainline.tag}}</a>
            {%- elif report.kind == "available-uscan" -%}
            Branch {{branch(package, report.branch)}} can be updated using uscan to <a href="{{report.upstream_uscan.source}}">{{report.upstream_uscan.version}}</a>
            {%- elif report.kind == "uscan-no-watch" -%}
            Branch {{branch(package, report.branch)}} doesn't have a <a href="https://wiki.debian.org/debian/watch">debian/watch</a> file to check for new upstream releases
            {%- elif report.kind == "uscan-watch-issue" -%}
            Branch {{branch(package, report.branch)}} has a broken <a href="https://wiki.debian.org/debian/watch">debian/watch</a> file.
            {%- else -%}
              Unknown report: {{ report }}
            {%- endif %}
          {%- elif report.domain == "delta" -%}
            {%- if report.kind == "available" -%}
            Packaging delta for <i>{{ report.pkg_version }}</i>: <a href="{{ report.diff_url }}">{{ report.diff_shortstat }} 🔍</a>
            {%- else -%}
              Unknown report: {{ report }}
            {%- endif %}
          {%- else -%}
            Unknown report: {{ report }}
          {%- endif %}
        </p>
      {% endfor %}
    </div>
  {% endfor %}
  </div>
{% endblock %}

{% block legend %}
  <div class="list-group">
            <p>
            <strong>🛈 Legend: </strong>
            <ul>
            <li><big><span class="badge badge-danger">error</span></big>: This tag reports an error that needs to be fixed!</li>
            <li><big><span class="badge badge-warning">warning</span></big>: This tag reports an issue that needs to be investigated!</li>
            <li><big><span class="badge badge-info">info</span></big>: This tag reports only information.</li>
            <li><big><span class="badge border">licensing</span></big>: This tag is about a potential issue with the package license, see <a href="https://{{ website_url }}/policies/license-expectations/">License Expectations</a>.</li>
            <li><big><span class="badge border">delta</span></big>: This tag is about the changes in packages against upstream, see <a href="https://{{ website_url }}/policies/upstreaming/">Upstreaming</a>.</li>
            <li><big><span class="badge border">update</span></big>: This tag is about available package updates, see <a href="https://{{ website_url }}/policies/release-flow/">Release flow</a>.</li>
            <li><big><span class="badge border">git</span></big>: This tag is about a potential issue with source packages in Git repositories, see <a href="https://{{ website_url }}/policies/package_maintenance/">Package maintenance</a>.</li>
            <li><big><span class="badge border">apt</span></big>: This tag is about a potential issue with binary packages in Apt repositories, see <a href="https://{{ website_url }}/policies/package_maintenance/">Package maintenance</a>.</li>
            <li><big><span class="badge border">obs</span></big>: This tag is about a potential issue with packages in OBS repositories, see <a href="https://{{ website_url }}/policies/package_maintenance/">Package maintenance</a>.</li>
            </ul>
            </p>
            <p>For more information, please refer to the Apertis policy at <a href="https://{{ website_url }}/">{{ website_url }}</a>.</p>
    </div>
{% endblock %}
