{% extends "base.html.jinja2" %}

{% block title %} Repository Storage Usage {% endblock %}

{% block head %}
  <style>
    .snapshots-header {
      display: inline;
    }

    .collapse {
      display: none;
    }
    .collapse-label {
      display: inline !important;
    }
    .collapse:not(:checked) + .collapse-label + .collapse-content {
      display: none;
    }

    .collapse:not(:checked) + .snapshot-collapse-label::after {
      content: 'Show';
    }
    .collapse:checked + .snapshot-collapse-label::after {
      content: 'Hide';
    }

    .collapse:not(:checked) + .defs-collapse-label::after {
      content: 'Show Glossary';
    }
    .collapse:checked + .defs-collapse-label::after {
      content: 'Hide Glossary';
    }

    .defs-card {
      position: relative;
    }

    .defs-card .card {
      position: absolute !important;
      right: 0;
      width: min(80vw, 500px);
      z-index: 10;
    }

  </style>
{% endblock %}

{% block summary %}
  <ul class="list-inline mr-auto">
    <li class="list-inline-item">
      {{ storage_stats|length }} repositories
    </li>
    <li class="list-inline-item">
      {{ storage_stats|sum(attribute='snapshots', start=[])|length }} snapshots
    </li>
  </ul>

  <div class="d-flex flex-column align-items-end">
    <input id="defs-collapse" class="collapse" class="toggle" type="checkbox">
    <label for="defs-collapse" class="badge badge-info collapse-label defs-collapse-label"></label>
    <div class="collapse-content defs-card">
      <div class="card">
        <div class="card-body">
          <table class="table table-borderless table-sm">
            <tbody>
              <tr>
                <th scope="row">Direct:</th>
                <td>
                  Amount of space used directly by this repository or snapshot, including
                  packages that are also used by other repositories or snapshots.
                </td>
              </tr>

              <tr>
                <th scope="row">Unique:</th>
                <td>
                  Space used by files exclusive to this snapshot or repository, i.e. space
                  that would be freed if the snapshot or repository were deleted.
                </td>
              </tr>

              <tr>
                <th scope="row">History:</th>
                <td>
                  Space used by files exclusive to the snapshots older than the current
                  one, i.e. space that would be freed if all snapshots older than the
                  current one were deleted.
                </td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="list-group">
  {% for suite in storage_stats %}
    <div id="suite-{{suite.id}}" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <strong class="text-dark">{{ suite.id }}</strong>
          <a class="self-link" href="#pkg-{{suite.id}}">¶</a>
        </h5>
      </div>

      <div class="mb-2">
        <div>Direct usage: {{suite.direct|filesizeformat}}</div>
        <div>Unique usage: {{suite.unique|filesizeformat}}</div>
      </div>

      <h6 class="snapshots-header">
        <strong class="text-dark">Snapshots</strong>
      </h6>
      <input id="{{suite.id}}-collapse" class="collapse" class="toggle" type="checkbox">
      <label for="{{suite.id}}-collapse" class="badge badge-info collapse-label snapshot-collapse-label"></label>
      <div class="mt-2 collapse-content">
      {% for snapshot in suite.snapshots %}
        <div class="mb-1">
          <div class="container">
            <div class="row">
              <h6 class="col-sm mb-0"><code>{{ snapshot.id }}</code></h6>
              <div class="col-sm">Direct: {{ snapshot.direct|filesizeformat }}</div>
              <div class="col-sm">Unique: {{ snapshot.unique|filesizeformat }}</div>
              <div class="col-sm">History: {{ snapshot.history|filesizeformat }}</div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
